body {
  background-color: darkgreen;
  font-family: sans-serif;
}
.header h1 {
  display: flex;
  justify-content: center;
  color: wheat;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.croupier-area,
.player-area {
  width: 75%;
  height: 10%;
  border: 1px solid white;
  margin-bottom: 25px;
  padding: 1rem;
}

.game-cards {
  display: flex;
  height: 100%;
}

.game-card {
  height: 100%;
}

.game-cards img {
  width: 100%;
  height: auto;
}
